.detail__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-top: 1.5rem;

  img {
    width: 100%;
    max-height: 15rem;
    object-fit: contain;
    object-position: center;
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    gap: 5rem;

    img {
      max-height: unset;
    }
  }
}

.cards {
  display: grid;
  gap: 2rem;
}

.detail__item {
  display: grid;
  gap: 0.5rem;
  background-color: #f5f5f58b;
  padding: 2rem 2rem;
  border-radius: 2rem;
}

.pokemon__detail-name {
  font-size: 3rem;
  font-weight: 700;
  color: #494949;

  @media only screen and (min-width: 768px) {
    font-size: 5rem;
  }
}

.pokemon__detail-nr {
  font-weight: 500;
  font-size: 2rem;
  color: #404040;
  line-height: 1;
}

.stat {
  display: grid;
  gap: 2rem;
  grid-template-columns: 100px 1fr auto;
}

.stat__value {
  font-weight: 700;
}
